/* Always remove the default styling of the browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  font-family: "Poppins", sans-serif;
}

header {
  font-size: 1.5rem;
  min-height: 100vh;
  color: rgb(250, 244, 244);
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: white;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  color: #d88771;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  align-items: left;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.todo-list,
.completed-list {
  list-style: none;
  min-width: 30%;
}

.todo,
.completed {
  margin: 2rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li,
.completed li {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.completed-btn,
.trash-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.clock-btn {
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
.trash-btn {
  background: #ff6f47;
}
.completed-btn {
  background: rgb(96, 211, 96);
}
.clock-btn {
  background: rgb(169, 96, 211);
}
/* .clock-icon {
  color: white;
  cursor: pointer;
  background: #703288;
  font-size: 1rem;
  padding: 1rem;
} */

.fa-trash,
.fa-check,
.fa-clock {
  pointer-events: none;
}

/* .ongoing-tasks,
.completed-tasks {
  border: 2px solid rgb(250, 244, 244);
} */

.todo-tasks h2,
.completed-tasks h2 {
  color: white;
  text-align: center;
}

.todo-tasks {
  align-items: center;
}
.tasks {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  justify-content: space-evenly;
}
